.scorewrapper {
    height: 100px;
    width: 150px;
    background-color: #a8dadc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 128px;
    right: 50px;
}

.scoretitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.score {
    font-size: 1.5rem;
}